[Unit]
Description=Changesmbpasswd Daemon
After=network.target

[Service]
ExecStart=/usr/local/bin/changesmbpasswd -D -p 4000

[Install]
WantedBy=multi-user.target
